*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://images.pexels.com/photos/1183099/pexels-photo-1183099.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:100vh;
}